*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}
.container{
    max-width: 80%;
    background-color: rgb(203, 164, 240);
    padding: 34px;
    margin-left: 140px;
    font-family: cursive;
    border: 4px solid white;
    border-radius: 10px;
}
.container h1,h3{
    text-align: center;
}
.a{
    background-color: rgb(226, 96, 96);
    max-width: 75%;
    padding: 34px;
    margin: auto;
    padding: 10px;
    border: 4px solid white;
    border-radius: 10px;
}
.btn{
    border: 2px solid white;
    padding: 4px;
    border-radius: 10px;
    font-family: cursive;
}
.btn:hover{
    cursor: pointer;
    color: white;
    background-color: rgb(180, 119, 236);
}
img{
    float: left;
}
input{
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px;
    margin: 10px;
}
textarea{
    border: 2px solid black;
    border-radius: 6px;
    height: 70px;
    width: 90%;
    padding: 4px;
    margin: 10px;
}
select{
    border: 2px solid black;
    border-radius: 6px;
    padding: 4px;
    margin: 10px;
}
.d{
    border: 2px solid white;
    border-radius: 6px;
    width: 140px;
}
.o{
    padding: 10px;
    border: 2px solid black;
}
.popup{
    width: 450px;
    height: 200px;
    background-color: rgb(183, 141, 223);
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup{
    visibility: visible;
    top: 90%;
    transform: translate(-50%,-50%) scale(1);
}

.popup img{
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2);

}
.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}
.popup button{
    width: 100%;
    margin-top: 30px;
    padding: 10px 0;
    background-color: rgb(226, 96, 96);
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 6px;
    cursor:pointer;
    box-shadow: 0 5px 5px rgba(0,0,0, 0.2);
}
hr{
    box-shadow: 0 2px 5px rgba(0,0,0, 0.2) ;
}
@media (max-width:414px){
    .container{
        width:fit-content;
        margin: 10%;
    }
    .a{
        width: fit-content;
    }
    input{
        width:80%;
    }
    img{
        margin-left: 25%;
    }
    .container h1{
        font-size:larger;
    }
    .container p{
        font-size:smaller;
    }
    .container img{
        width: 120px;
    }
    .container select{
        width: 90%;
    }
}